@mixin headings {
    h1 {
        color: $headingColor;
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }

    h5 {
        color:$headingColor;
        text-align: center;
    }
}