@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$tablet-width: 768px;
$desktop-width: 1024px;

$roboto: 'Roboto', sans-serif;

$color-bkg-orange: #f75311;
$color-bkg-blue-dark:  #374249;
$color-bkg-hover: #cfd1d3;
$color-bkg-section-gray-light: #f3f7f9;
$color-headings: #374249;
$color-font: #797979;
