$colorAccent: #f75311;
$colorFont1: #797979;
$colorFont2: #ffffff;
$colorHeading: #374249;
$colorNeutral1: #cfd1d3;
$colorNeutral2: #f3f7f9;
$colorNeutral3: #000000;
$fontMain: 'Roboto', sans-serif;
$albumCardHeight: 12rem;