@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic,latin-ext');

$contrast-Color: #f75311;
$main-background-color: #374249;
$boja-fonta: #797979;
$boja-naslovi: #374249;
$hover-na-dugmice: #cfd1d3;
$pozadina-sekcija: #f3f7f9;
$text-svetla: #f3f7f9;
$text-najtamnija: #000;
$bela: #fff;

$contrast-color-header: #fa4700;

$fontFamily: "Roboto", sans-serif;
$centerMargin: 0 auto;